// COLORS 

$Dark-Red: #e50a13;
$Light_Grey: #98999b;
$border_grey:#eeee;
$Black: #000;
$Button-red: #f40712;
$White: #ffffff;
// GRADIENT COLORS
$First-card-color-light:#c31432;
$First-card-color-dark:#240b36;

$Second-card-color-light:#52c234;
$Second-card-color-dark:#061700;

$Third-card-color-light:#0061ff;
$Third-card-color-dark:#01183d;



// GRID 
$grid-width: 114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;
